.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0px;
}

.logo img {
	max-height: 40px;
}

.menu-items ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu-items li {
	display: inline;
	margin-right: 20px;
}

.menu-items a {
	color: #fff;
	text-decoration: none;
}

.menu-items a:hover {
	text-decoration: underline;
}

.social-icons {
	margin-left: auto;
	margin-right: 20px;
}

.search-bar {
	margin-right: auto;
}

.search-bar input {
	padding: 5px;
	border-radius: 5px;
	border: none;
	margin-right: 10px;
}

.social-icons a {
	color: #fff;
	margin-left: 10px;
}

.social-icons a i {
	font-size: 1.5em;
}
