.card-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

/* Table View */
table {
	width: 100%;
	border-collapse: collapse;
	margin: 10px;
}

tr:nth-child(even) {
	background-color: #e9e9e9;
}

tr:nth-child(odd) {
	background-color: #ffffff;
}

th,
td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #2fbdff;
}

.icon-image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

/* List View */
.list-container {
	display: flex;
	flex-direction: column;
}

.list-item {
	display: flex;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.item-id {
	flex: 0 0 auto;
	padding-right: 10px;
}

.item-icon {
	flex: 0 0 auto;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.item-details {
	flex: 1 1 auto;
}

/* Modal */
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

.modal-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}
