<div class="container">
	<h1>Welcome to Our Store</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet leo sed nisi lobortis, nec lacinia nisl
		tincidunt.</p>

	<div class="image-grid">
		<div class="image">
			<img src="https://randomwordgenerator.com/img/picture-generator/54e0dc404e53b10ff3d8992cc12c30771037dbf85254794e732f7ad2964a_640.jpg" alt="Image 1">
			<p>Image 1</p>
		</div>
		<div class="image">
			<img src="https://randomwordgenerator.com/img/picture-generator/david-kovalenko-G85VuTpw6jg-unsplash.jpg" alt="Image 2">
			<p>Image 2</p>
		</div>
		<div class="image">
			<img src="https://randomwordgenerator.com/img/picture-generator/57e2d1454f53a414f1dc8460962e33791c3ad6e04e5074417c2f7dd5904ecd_640.jpg" alt="Image 3">
			<p>Image 3</p>
		</div>
	</div>
</div>
